---
layout: default
header: big
title: Learn Javascript and Node.js through books and tutorials
---
<div id="banner">
  <div style="padding-top:40px;"><i>Learn the tools of the trade.</i></div>
  <h2>Get the first 4 Learn.js books:</h2> 
  <h4>Introduction to JavaScript & Node.js, Making 2D JavaScript Games, <br>Mapping with Leaflet, & Development Environmens for Beginners</h4>
  <a href="https://gumroad.com/l/bundle01" class="button white" target="blank">
    Get the 4-book bundle - $45
  </a>
</div>

{% include newsletter.html %}

{% include books.html %}

{% include details.html %}

{% include about.html %}
