---
layout: default
header: big
title: Learn Javascript and Node.js through books and tutorials
---
<div id="banner">
  <div style="padding-top:40px;"><i>Learn the tools of the trade.</i></div>
  <h2>Get all 6 Learn.js books and a 6-month subscription<br> to our weekly JavaScript screencasts</h2>
  <a href="https://gumroad.com/l/learnjs-6-pack" class="button white" target="blank">
    Get the 6 books and 6-month subscription - $65
  </a>
</div>

{% include newsletter.html %}

{% include books.html %}

{% include details.html %}

{% include about.html %}
