html,
body,
input,
button,
select,
textarea {
  font: 15px/1.5 "Roboto", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

body {
  border-top: 3px solid #F6DE1B;
}

body.no-top-border {
  border-top: 0px;
}

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-top: 0px;
  line-height: 1.3;
}

a {
  color: #128a96;
  text-decoration: none;
}

a:hover, a:focus {
  color: #7E2054;
}

b {
  font-weight: 500;
  color: #666;
}

hr {
  border: 0px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 50px;
}

.center {
  text-align: center;
}

.container {
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}

.inner-wrapper {
  width: 100%;
  padding: 50px 0px 40px 0px;
}

header.big {
  margin-top: 150px;
  text-align: center;
  font-weight: 100;
  margin-bottom: 50px;
}

header.big h1 {
  color: #F6DE1B;
  font-size: 50px;
  margin-bottom: 120px;
  font-weight: 100;
}

header.big img.logo {
  display: block;
  margin: 50px auto;
  width: 80%;
  height: auto;
}

header.big p.subhead {
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
  color: #888;
}

header.big p.author {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 10px;
  font-weight: 500;
  color: #666;
}

header.small {
  margin-top: 35px;
  font-weight: 100;
  margin-bottom: 50px;
  text-align: center;
}

header.small h1 {
  color: #F6DE1B;
  font-size: 25px;
  margin-bottom: 12px;
  font-weight: 100;
}

header.small img.logo {
  display: none;
}

header.small p.subhead {
  font-size: 12px;
  line-height: 10px;
  font-weight: 300;
  color: #888;
  display: block;
  margin-top: 8px;
}

header.small p.author {
  display: none;
}

a.superbigtree {
  width: 120px;
  display: block;
  margin: 50px auto;
}

ul.goals {
  width: 100%;
  margin: 0px 0px 60px 0px;
  padding: 0px;
}

ul.goals li {
  list-style-type: none;
  margin-bottom: 15px;
  padding-left: 20px;
}

ul.goals li:before {
  content: "";
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin: 8px 5px 10px -20px;
  background-color: #eee;
}

div.author {
  width: 100%;
}

img.author {
  float: right;
  width: 120px;
  height: auto;
  margin: 0px 0px 20px 20px;
}

section#book .inner-wrapper {
  padding-top: 0px;
}

section#book p {
  margin: 0px 0px 5px 0px;
}

section#book h1 {
  text-align: center;
  margin-bottom: 40px;
}

section#book h2 {
  font-size: 1.8em;
  color: #ccc;
}

section#book img#main-cover {
  width: 330px;
  height: auto;
  display: block;
  float: left;
  margin: 0px 30px 50px 0px;
}

section#book .button-wrapper {
  margin-top:30px;
}

section#book .price {
  font-size: 2em;
}

section#book a.button {
  background-color: #128a96;
  text-decoration: none;
  padding: 15px 25px;
  text-align: center;
  color: #fff;
  display: inline-block;
  font-size: 18px;
}

section#book a.button:hover, 
section#book a.button:focus {
  background-color: #7E2054;
  color: #fff;
}

section#description {
  text-align: center;
  background: url("/img/bg.png");
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  -webkit-box-shadow: inset 0px 1px 5px 0px rgba(255, 255, 255, 1), inset 0px -1px 5px 0px rgba(255, 255, 255, 1), 0px 1px 1px 0px rgba(155, 155, 150, 0.1), 0px -1px 1px 0px rgba(155, 155, 150, 0.1);
  box-shadow: inset 0px 1px 5px 0px rgba(255, 255, 255, 1), inset 0px -1px 5px 0px rgba(255, 255, 255, 1), 0px 1px 1px 0px rgba(155, 155, 150, 0.1), 0px -1px 1px 0px rgba(155, 155, 150, 0.1);
}

section#description h1 {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

section#description h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 100;
}

p.version-description {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  font-weight: 100;
}

p.update-schedule {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
}

section#buy h1 {
  text-align: center;
  margin-bottom: 20px;
  line-height: 40px;
}

.plans {
  margin-top: 50px;
}

.plans .plan {
  width: 100%;
  margin-bottom: 50px;
}

.plan h1 {
  border-bottom: 3px solid #F6DE1B;
  padding-bottom: 25px;
  color: #F6DE1B;
  font-size: 40px;
}

.plan h2 {
  margin-top: 32px;
}

.plan ul {
  margin: 0px;
  padding: 0px;
}

.plan li {
  list-style-type: none;
  margin-bottom: 15px;
  padding-left: 20px;
}

.plan li:before {
  content: "";
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin: 8px 5px 10px -20px;
  background-color: #F6DE1B;
}

.plans .plan a.button {
  background-color: #128a96;
  text-decoration: none;
  padding: 15px 25px;
  text-align: center;
  color: #fff;
  display: block;
  font-size: 18px;
}

.plans .plan a.button:hover, 
.plans .plan a.button:focus {
  background-color: #7E2054;
  color: #fff;
}

div.details {
  clear: both;
}

section#tutoring {
  clear: both;
  padding-bottom: 20px;
  border-bottom: 3px solid #F6DE1B;
  margin-bottom: 60px;
}

p.just-the-book {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}

.release-early {
  margin-top: 80px;
}

.release-early h2 {
  text-align: center;
}

div.subscribe {
  padding: 20px;
  background: url("/img/bg.png");
  -webkit-box-shadow: inset 0px 1px 5px 0px rgba(255, 255, 255, 1), inset 0px -1px 5px 0px rgba(255, 255, 255, 1), 0px 1px 1px 0px rgba(155, 155, 150, 0.1), 0px -1px 1px 0px rgba(155, 155, 150, 0.1);
  box-shadow: inset 0px 1px 5px 0px rgba(255, 255, 255, 1), inset 0px -1px 5px 0px rgba(255, 255, 255, 1), 0px 1px 1px 0px rgba(155, 155, 150, 0.1), 0px -1px 1px 0px rgba(155, 155, 150, 0.1);

  border: 1px solid #dedede;
  margin-top: 50px;
  padding-bottom: 50px;
}

div.subscribe h2 {
  text-align: center;
  font-size: 35px;
  line-height: 38px;
  font-weight: 100;
  margin-top: 20px
}

div.subscribe h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}

div.subscribe div.inputs {
  text-align: center;
}

div.subscribe input.email {
  border: 1px solid #ccc;
  display: inline-block;
  outline: none;
  width: 150px;
  padding: 5px;
  vertical-align: top;
  margin-bottom: 15px;
}

div.subscribe input.email:focus {
  border: 1px solid #aaa;
}

input.button {
  letter-spacing: 1px;
  font-size: 12px;
  padding: 5px 12px;
  color: #fff;
  border: 1px solid #128a96;
  background-color: #128a96;
  font-weight: 500;
  height: 34px;
}

input.button:hover {
  border: 1px solid #7E2054;
  background-color: #7E2054;
}

input.button:active {
  border: 1px solid #551639;
  background-color: #551639;
}

h2.tutoring {
  margin-top: 80px;
  text-align: center;
  font-size: 30px;
  line-height:30px;
  font-weight: 100;
}

footer {
  text-align: center;
}

footer h1 {
  font-size: 40px;
  color: #F6DE1B;
  letter-spacing: 1px;
}

section#workshops {
  margin-top: 100px;
  text-align: center;  
}

section#workshops h1 {
  font-weight: 100;
  font-size: 55px;
  line-height: 1.2;
}

section#workshops p {
  text-align: justify;
}

section.workshop {
  margin-top: 50px;
  padding: 40px 0px 20px 0px;
  text-align: center;
  background: url("/img/bg.png");
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  -webkit-box-shadow: inset 0px 1px 5px 0px rgba(255, 255, 255, 1), inset 0px -1px 5px 0px rgba(255, 255, 255, 1), 0px 1px 1px 0px rgba(155, 155, 150, 0.1), 0px -1px 1px 0px rgba(155, 155, 150, 0.1);
  box-shadow: inset 0px 1px 5px 0px rgba(255, 255, 255, 1), inset 0px -1px 5px 0px rgba(255, 255, 255, 1), 0px 1px 1px 0px rgba(155, 155, 150, 0.1), 0px -1px 1px 0px rgba(155, 155, 150, 0.1);
}

section.workshop ul {
  list-style-type: none;
  width: 100%;
  text-align: justify;
  padding: 0px;
  margin: 0px auto;
}

section.workshop .overview h3 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

section.workshop ul li {
  margin-bottom: 12px;
}

section.sign-up {
  margin: 80px 0px 80px 0px;
}

section.sign-up .container .inner {
  background-color: #128a96;
  color: #fff;
  padding: 50px 30px 40px 30px;
}

section.sign-up h1 {
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 100;
}

section.sign-up h2 {
  text-transform: uppercase;
  line-height: 1;
}

section.sign-up h2 .day {
  display: block;
  letter-spacing: 3px;
  font-size: 20px;
  text-align: center;
}

section.sign-up h2 .month {
  display: block;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

section.sign-up .event {
  margin: 50px auto 120px auto;
  font-size: 120%;
  text-align: center;
}

section.sign-up .event:last-child {
  margin-bottom: 20px;
}

section.sign-up .event a {
  color: #fff;
  font-weight: 900;
  padding: 10px 15px;
  border: 1px solid #fefefe;
}

section.sign-up .event a:hover {
  background-color: #7E2054;
}

section.sign-up .event h3 {
  margin-bottom: 2px;
}

section.sign-up .event h4 {
  font-size: 15px;
}

section#team {
  margin-bottom: 120px;
}

.person {
  text-align: center;
}

.person h3 {
  font-size: 30px;
  margin-bottom: 10px;
  padding-top: 15px;
}

.person p.bio {
  margin-top: 5px;
  text-align: justify;
}

.person img,
img.author {
  border: 1px solid #ececec;
  border-radius: 500px;
}

.person img {
  border: 1px solid #ececec;
  border-radius: 500px;
  margin: 0px auto;
  width: 200px;
  height: auto;
  display: block;
}

#workshop-newsletter {
  text-align: center;
  margin-bottom: 120px
}

#workshop-newsletter input.email {
  border: 1px solid #ccc;
  display: inline-block;
  outline: none;
  width: 150px;
  padding: 5px;
  vertical-align: top;
  margin-bottom: 15px;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 540px;
  }

  .inner-wrapper {
    width: 100%;
    padding: 50px 0px 40px 0px
  }

  header.big img.logo {
    width: 400px;
    height: auto;
  }

  header.small {
    margin-top: 20px;
    text-align: left;
  }

  header.small h1 {
    float: left;
  }

  header.small p.subhead {
    float: right;
    margin-top: 8px;
  }

  section#description h1 {
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    font-weight: 100;
  }

  section#buy h1 {
    font-size: 25px;
  }

  ul.goals {
    width: 40%;
    float: left;
  }

  div.author {
    width: 45%;
    float: right;
  }

  p.version-description {
    display: block;
    width: 60%;
    margin: 10px auto;
  }

  .plans .plan {
    width: 40%;
    min-height: 300px;
  }

  .plans h2 {
    font-size: 20px;
  }

  .plans .book {
    float: left;
  }

  .plans .bonus {
    float: right;
  }

  .plans .book ul {
    margin-bottom: 96px;
  }

  section.workshop ul {
    width: 45%;
  }

  section.workshop ul.first {
    float: left;
  }

  section.workshop ul.last {
    float: right;
  }

  section.workshop .overview {
    padding: 0px 50px;
  }

  section.sign-up h2 .day {
    letter-spacing: 3px;
    font-size: 20px;
    display: block;
    text-align: center;
  }

  section.sign-up h2 .month {
    display: block;
    clear: left;
    font-size: 50px;
    font-weight: 900;
  }

  section.sign-up .event {
    width: 70%;
    font-size: 120%;
  }

  section.sign-up .event h3 {
    margin-bottom: 2px;
  }

  section.sign-up .event h4 {
    font-size: 15px;
  }

  .person {
    text-align: left;
  }

  .person img {
    float: left;
    margin-right: 40px;
  }
}

@media only screen and (min-width: 960px) {
  .container {
    width: 800px;
  }

  section#description h1 {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
  }

  section#buy h1 {
    margin-top: 10px;
    font-size: 30px;
  }

  .plans h2 {
    font-size: 30px;
  }

  .plans .book ul {
    margin-bottom: 52px;
  }

  section.sign-up h2 {
    text-transform: uppercase;
    float: left;
    margin-right: 50px;
    line-height: 1;
  }
}
/* clearfix */
.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.container {
  *zoom: 1;
}