html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

html,
body,
input,
button,
select,
textarea {
  font: 17px/1.8 "Open Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0px;
  line-height: 1.3;
}

h2,
h3 {
  margin-top: 55px;
}

h1, h2 {
  margin-bottom: 15px;
  font-weight: 900;
  letter-spacing: -1px;
}

p {
  margin-top: 0px;
}

a {
  color: #128a96;
  text-decoration: none;
  font-weight: 700;
}

a:hover, a:focus {
  color: #7E2054;
}

b {
  font-weight: 500;
  color: #666;
}

hr {
  border: 0px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 50px;
}

.center {
  text-align: center;
}

header {
  background-color: #f6f5f4;
  color: #525250;
  padding: 12px 0px 10px 0px;
  border-bottom: 1px solid #e2e2e0;
}

header a {
  color: #525250;
}

header a:hover {
  color: #222220;
}

header .logo h1 {
  font-size: 17px;
  font-weight: 700;
  margin: 0px;
  display: inline;
  height: 43px;
  line-height: 43px;
  letter-spacing: 0px;
}

header .menu {
  margin: 0px;
  padding: 0px;
  float: right;
}

header .menu li {
  display: inline-block;
}

header .menu li a {
  font-weight: 300;
}

header .dashboard-menu-link,
header .register-menu-link {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #e2e2e0;
  border-radius: 3px;
  margin-right: 15px;
}

.container {
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}

#banner {
  background: url(/img/sea.jpg) no-repeat left top fixed; 
  background-size: cover;
  height: 250px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

#banner h2 {
  font-weight: 100;
  font-size: 30px;
  padding-top: 40px;
  margin-top: 0px;
}

#banner h2 b {
  color: #fff;
  font-weight: 900;
  font-size: 1.1em;
}

a.button.white {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  color: #323230;
  display: inline-block;
  padding: 5px 12px;
  margin-top: 15px;
}

a.button.white:hover {
  background-color: #fff;
  color: #000;
}

@media (min-width: 500px){
  #banner {
    height: 290px;
  }

  #banner h2 {
    font-size: 40px;
    padding-top: 35px;
  }
}

#primary-menu {
  margin-bottom: 0px;
}

a.superbigtree {
  width: 120px;
  display: block;
  margin: 50px auto;
}

ul.goals {
  width: 100%;
  margin: 0px 0px 60px 0px;
  padding: 0px;
}

ul.goals li {
  list-style-type: none;
  margin-bottom: 15px;
  padding-left: 20px;
}

ul.goals li:before {
  content: "";
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin: 8px 5px 10px -20px;
  background-color: #eee;
}

div.author {
  width: 100%;
}

img.author {
  float: right;
  width: 120px;
  height: auto;
  margin: 0px 0px 20px 20px;
}

section#book .inner-wrapper {
  padding-top: 0px;
}

section#book p {
  margin: 0px 0px 5px 0px;
}

section#book h1 {
  text-align: center;
  margin-bottom: 40px;
}

section#book h2 {
  font-size: 1.8em;
  color: #ccc;
}

section#book img#main-cover {
  height: auto;
  display: block;
  float: left;
  margin: 0px 30px 50px 0px;
}

section#book .button-wrapper {
  margin-top:30px;
}

section#book .price {
  font-size: 2em;
}

section#book a.button {
  background-color: #128a96;
  text-decoration: none;
  padding: 15px 25px;
  text-align: center;
  color: #fff;
  display: inline-block;
  font-size: 18px;
}

section#book a.button:hover, 
section#book a.button:focus {
  background-color: #7E2054;
  color: #fff;
}

section#book .cover-wrapper {
  width: 100px;
  height: 500px;
  float:left;
  margin-right: 30px;
  font-size:0.7em;
}

section#book .cover-wrapper #main-cover {
  width:100%; 
  margin-bottom:10px;
}

@media only screen and (min-width: 600px) {
  section#book .cover-wrapper {
    width:200px;
  }
}

section#description {
  text-align: center;
  background: url("/img/bg.png");
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  -webkit-box-shadow: inset 0px 1px 5px 0px rgba(255, 255, 255, 1), inset 0px -1px 5px 0px rgba(255, 255, 255, 1), 0px 1px 1px 0px rgba(155, 155, 150, 0.1), 0px -1px 1px 0px rgba(155, 155, 150, 0.1);
  box-shadow: inset 0px 1px 5px 0px rgba(255, 255, 255, 1), inset 0px -1px 5px 0px rgba(255, 255, 255, 1), 0px 1px 1px 0px rgba(155, 155, 150, 0.1), 0px -1px 1px 0px rgba(155, 155, 150, 0.1);
}

section#description h1 {
  text-align: center;
}

section#description h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 100;
}

p.version-description {
  font-size: 15px;
  text-align: center;
  font-weight: 100;
}

p.update-schedule {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
}

section#buy h1 {
  text-align: center;
  margin-bottom: 20px;
}

.plans {
  margin-top: 50px;
}

.plans .plan {
  width: 100%;
  margin-bottom: 50px;
}

.plan h1 {
  border-bottom: 3px solid #F6DE1B;
  padding-bottom: 25px;
  color: #F6DE1B;
  font-size: 40px;
}

.plan h2 {
  margin-top: 32px;
}

.plan ul {
  margin: 0px;
  padding: 0px;
}

.plan li {
  list-style-type: none;
  margin-bottom: 15px;
  padding-left: 20px;
}

.plan li:before {
  content: "";
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin: 8px 5px 10px -20px;
  background-color: #F6DE1B;
}

.plans .plan a.button {
  background-color: #128a96;
  text-decoration: none;
  padding: 15px 25px;
  text-align: center;
  color: #fff;
  display: block;
  font-size: 18px;
}

.plans .plan a.button:hover, 
.plans .plan a.button:focus {
  background-color: #7E2054;
  color: #fff;
}

#details {
  clear: both;
}

section#tutoring {
  clear: both;
  padding-bottom: 20px;
  border-bottom: 3px solid #F6DE1B;
  margin-bottom: 60px;
}

p.just-the-book {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}

.release-early {
}

.release-early h2 {
  text-align: center;
  margin-bottom: 30px;
}

#subscribe {
  padding: 20px;
  background: url("/img/bg.png");
  -webkit-box-shadow: inset 0px 1px 5px 0px rgba(255, 255, 255, 1), inset 0px -1px 5px 0px rgba(255, 255, 255, 1), 0px 1px 1px 0px rgba(155, 155, 150, 0.1), 0px -1px 1px 0px rgba(155, 155, 150, 0.1);
  box-shadow: inset 0px 1px 5px 0px rgba(255, 255, 255, 1), inset 0px -1px 5px 0px rgba(255, 255, 255, 1), 0px 1px 1px 0px rgba(155, 155, 150, 0.1), 0px -1px 1px 0px rgba(155, 155, 150, 0.1);
  border: 1px solid #dedede;
  margin-top: 50px;
  padding-bottom: 30px;
}

#subscribe h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 30px;
}

#subscribe h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 15px;
}

#subscribe div.inputs {
  text-align: center;
}

input.email {
  border: 1px solid #ccc;
  display: inline-block;
  outline: none;
  width: 170px;
  padding: 10px 15px;
  vertical-align: top;
  margin-bottom: 15px;
}

input.email:focus {
  border: 1px solid #aaa;
}

input.button {
  padding: 10px 15px;
  color: #fff;
  border: 1px solid #128a96;
  background-color: #128a96;
  font-weight: 500;
  height: 52px;
}

input.button:hover {
  border: 1px solid #7E2054;
  background-color: #7E2054;
}

input.button:active {
  border: 1px solid #551639;
  background-color: #551639;
}

h2.tutoring {
  margin-top: 80px;
  text-align: center;
  font-size: 30px;
  line-height:30px;
  font-weight: 100;
}

h2#lego {
  text-align: center;
  font-size: 35px;
  font-weight: 100;
  margin-top: 70px;
  margin-bottom: 50px;
}

h2#available-books,
h2#upcoming-books {
  margin-bottom: 40px;
  margin-top: 30px;
  font-weight: 300;
  font-size: 32px;
}

footer {
  text-align: center;
}

footer h1 {
  font-size: 40px;
  color: #F6DE1B;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-weight: 300;
}

section#workshops {
  margin-top: 100px;
  text-align: center;  
}

section#workshops h1 {
  font-weight: 100;
  font-size: 55px;
  line-height: 1.2;
}

section#workshops p {
  text-align: justify;
}

section.workshop {
  margin-top: 50px;
  padding: 40px 0px 20px 0px;
  text-align: center;
  background: url("/img/bg.png");
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  -webkit-box-shadow: inset 0px 1px 5px 0px rgba(255, 255, 255, 1), inset 0px -1px 5px 0px rgba(255, 255, 255, 1), 0px 1px 1px 0px rgba(155, 155, 150, 0.1), 0px -1px 1px 0px rgba(155, 155, 150, 0.1);
  box-shadow: inset 0px 1px 5px 0px rgba(255, 255, 255, 1), inset 0px -1px 5px 0px rgba(255, 255, 255, 1), 0px 1px 1px 0px rgba(155, 155, 150, 0.1), 0px -1px 1px 0px rgba(155, 155, 150, 0.1);
}

section.workshop ul {
  list-style-type: none;
  width: 100%;
  text-align: justify;
  padding: 0px;
  margin: 0px auto;
}

section.workshop .overview h3 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

section.workshop ul li {
  margin-bottom: 12px;
}

section.sign-up {
  margin: 80px 0px 80px 0px;
}

section.sign-up .container .inner {
  background-color: #128a96;
  color: #fff;
  padding: 50px 30px 40px 30px;
}

section.sign-up h1 {
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 100;
}

section.sign-up h2 {
  text-transform: uppercase;
  line-height: 1;
}

section.sign-up h2 .day {
  display: block;
  letter-spacing: 3px;
  font-size: 20px;
  text-align: center;
}

section.sign-up h2 .month {
  display: block;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

section.sign-up .event {
  margin: 50px auto 120px auto;
  font-size: 120%;
  text-align: center;
}

section.sign-up .event:last-child {
  margin-bottom: 20px;
}

section.sign-up .event a {
  color: #fff;
  font-weight: 900;
  padding: 10px 15px;
  border: 1px solid #fefefe;
}

section.sign-up .event a:hover {
  background-color: #7E2054;
}

section.sign-up .event h3 {
  margin-bottom: 2px;
}

section.sign-up .event h4 {
  font-size: 15px;
}

section#team {
  margin-bottom: 120px;
}

.person {
  text-align: center;
}

.person h3 {
  font-size: 30px;
  margin-bottom: 10px;
  padding-top: 15px;
}

.person p.bio {
  margin-top: 5px;
  text-align: justify;
}

.person img,
img.author {
  border: 1px solid #ececec;
  border-radius: 500px;
}

.person img {
  border: 1px solid #ececec;
  border-radius: 500px;
  margin: 0px auto;
  width: 200px;
  height: auto;
  display: block;
}

#workshop-newsletter {
  text-align: center;
  margin-bottom: 120px
}

#workshop-newsletter input.email {
  border: 1px solid #ccc;
  display: inline-block;
  outline: none;
  width: 150px;
  padding: 5px;
  vertical-align: top;
  margin-bottom: 15px;
}

/* books */

#books ul {
  text-align: center;
  margin: 30px 0px 0px;
  padding: 0px;
}

#books h3 {
  text-align: left;
  font-size: 27px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 30px;
}

.book-page h2 {
  font-weight: 300;
  margin-top: 0px;
}

.book-page h3 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.book {
  display: inline-block;
  margin: 0px 10px 30px 10px;
  vertical-align: top;
}

.book a.learn {
  display: block;
  margin: 0px;
  width: 240px;
}

.book img {
  width: 100%;
  height: auto;
}

.book a.learn > p {
  text-align: left;
  margin-left: 0px;
  display: block;
  height: 54px;
}

.book > p {
  text-align: left;
}

.learn-more {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.price {
  margin-left: 10px;
  font-size: 2.2em;
  vertical-align: middle;
}

#book {
  width: 250px;
  float: right;
  margin: 0px 0px 50px 40px;
}

#book img {
  width: 100%;
  height: auto;
}

#book #meta {
  font-size: 10px;
}

button.buy,
.button.buy,
.book button,
.book .button,
#book button,
#book .button {
  background-color: #128a96;
  text-decoration: none;
  padding: 15px 25px;
  text-align: center;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  border: 0px;
  font-weight: 300;
  cursor: pointer;
  text-shadow: none;
}

button.buy:hover, 
button.buy:focus,
.button.buy:hover, 
.button.buy:focus,
.book button:hover, 
.book button:focus,
.book .button:hover, 
.book .button:focus,
#book button:hover, 
#book button:focus,
#book .button:hover, 
#book .button:focus {
  background-color: #7E2054;
}

#introduction h1 {
  text-align: center;
  font-weight: 100;
  margin-bottom: 20px;
}

#introduction h2 {
  text-align: center;
  display: block;
  padding: 30px 30px 10px 30px;
  font-size: 18px;
  margin-bottom: 15px;
}

#introduction img#four-books {
  width:100%;
  height: auto;
  margin-top: 20px;
}

.bio {
  font-style: italic;
  margin-top: 50px;
  border-top: 1px solid #f6f6f4;
  padding-top: 20px;
}

.posts .post {
  border-bottom: 1px solid #f3f3f1;
  margin-bottom: 50px;
}

.posts.small .post {
  margin-bottom: 10px;
  font-size: 19px;
}

.post-date {
  font-weight: 300;
  font-size: 0.7em;
}

.post-title {
  font-size: 50px;
  font-weight: 900;
  color: #444442;
  margin-bottom: 15px;
}

.posts .post-title {
  margin-top: 0px;
}

.posts .post-title a {
  color: #646462;
}

.posts .post-title a:hover {
  color: #444442;
}

.post-excerpt,
.post-content {
  font-size: 1.1em;
}

.post-content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.post-content img {
  width: 100%;
  height: auto;
}

ul.posts {
  margin: 0px;
  padding: 0px;
}

li.post {
  list-style-type: none;
}

nav#primary ul {
  padding: 22px 0px 18px 0px;
  margin: 0px;
  text-align: center;
  border-bottom: 1px solid #f3f3f1;
}

nav#primary li {
  display: inline-block;
}

nav#primary li a {
  padding: 10px 5px;
  line-height: 20px;
  font-weight: 300;
}

code {
  padding: 5px 10px;
  background-color: #fcfcfa;
  border: 1px solid #dadad8;
  font-size: 16px;
  border-radius: 3px;
  white-space: nowrap
}

pre, pre.prettyprint {
  font-size: 15px;
  padding: 10px 15px;
  background-color: #fcfcfa;
  border: 1px solid #dadad8;
  border-radius: 3px;
  overflow: auto;
  margin-bottom: 35px;
}

pre.prettyprint code,
pre code {
  background-color: none;
  border: 0px;
  padding: 0px;
  white-space: pre;
}

.blog .inner-wrapper {
  width: 100%;
}

.blog .sidebar {
  width: 20%;
  float: right;
  padding: 50px 0px 0px 2%;
  display: none;
  border-left: 1px solid #efefef;
}

.sidebar h2 {
  margin: 0px auto 15px auto;
  text-align: center;
  font-size: 20px;
  color: #646462;
  font-weight: 300;
}

.sidebar h3 {
  margin: 0px;
}

.sidebar h5 {
  margin-top: 10px;
  text-align: center;
}

.sidebar h5.sidebar-button a {
  border: 1px solid #dcdcda;
  padding: 8px 10px;
  background-color: #f9f9f7;
  margin-bottom: 15px;
  display: block;
}

.sidebar img#four-books {
  width: 100%;
}



@media only screen and (min-width: 600px) {
  .container {
    width: 540px;
  }

  .inner-wrapper {
    width: 100%;
    padding: 50px 0px 0px 0px;
  }

  nav#primary li a {
    padding: 10px 15px;
  }

  section#description h1 {
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    font-weight: 100;
  }

  section#buy h1 {
    font-size: 25px;
  }

  ul.goals {
    width: 40%;
    float: left;
  }

  div.author {
    width: 45%;
    float: right;
  }

  p.version-description {
    display: block;
    width: 60%;
    margin: 10px auto;
  }

  .plans .plan {
    width: 40%;
    min-height: 300px;
  }

  .plans h2 {
    font-size: 20px;
  }

  .plans .book {
    float: left;
  }

  .plans .bonus {
    float: right;
  }

  .plans .book ul {
    margin-bottom: 96px;
  }

  section.workshop ul {
    width: 45%;
  }

  section.workshop ul.first {
    float: left;
  }

  section.workshop ul.last {
    float: right;
  }

  section.workshop .overview {
    padding: 0px 50px;
  }

  section.sign-up h2 .day {
    letter-spacing: 3px;
    font-size: 20px;
    display: block;
    text-align: center;
  }

  section.sign-up h2 .month {
    display: block;
    clear: left;
    font-size: 50px;
    font-weight: 900;
  }

  section.sign-up .event {
    width: 70%;
    font-size: 120%;
  }

  section.sign-up .event h3 {
    margin-bottom: 2px;
  }

  section.sign-up .event h4 {
    font-size: 15px;
  }

  .person {
    text-align: left;
  }

  .person img {
    float: left;
    margin-right: 40px;
  }
}

@media only screen and (min-width: 960px) {
  .container {
    width: 800px;
  }

  .blog .inner-wrapper {
    width: 75%;
    float: left;
  }

  section#description h1 {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
  }

  section#buy h1 {
    margin-top: 10px;
    font-size: 30px;
  }

  .plans h2 {
    font-size: 30px;
  }

  .plans .book ul {
    margin-bottom: 52px;
  }

  section.sign-up h2 {
    text-transform: uppercase;
    float: left;
    margin-right: 50px;
    line-height: 1;
  }

  .book {
    display: inline-block;
    margin: 0px 20px 30px 20px;
  }

  #introduction h2 {
    font-size: 25px;
  }

  .blog .sidebar {
    display: block;
  }
}

/* clearfix */
.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.container {
  *zoom: 1;
}