---
layout: default
---

<section id="release">
  <div class="container">
    <h1>v0.4.1 of <i>Learn.js</i> released!</h1>
    <p>August 4, 2013</p>

    <h2><i>Learn.js</i> is a guidebook to building projects with javascript.</h2>
    <p>With this version of the book it reached nearly 90 pages / 15,000 words! Pretty good.</p>
    <p>You can support that goal by buying the book, <a href="https://github.com/learn-js/learnjs/issues?state=open" target="_blank">submitting errata at our issues queue</a>, or sharing the book with your friends.</p>
    <p><b>Here's the changelog for the current release:</b></p>
    <ul style="margin-bottom:30px;">
      <li>started player and keyboard sections of node-rogue chapter</li>
      <li>fixed html/css stuff in node-rogue chapter</li>
      <li>add package managers comparison for npm, bower, component</li>
      <li>expand introduction to git &amp; github</li>
      <li>expand intro to canvas</li>
      <li>start an intro to testing chapter</li>
      <li>start intro to terminal chapter</li>
      <li>start chapter about voxel.js</li>
      <li>add placeholders for main sections</li>
      <li>rearrange some existing chapters</li>
      <li>start websites section with pizza-fanpage project</li>
    </ul>
    <p><b>Support the book by buying it early (and get all updates for free) below:</b></p>
    <br>
    <hr>
    {% include plans.html %}

    {% include details.html %}
    <br>
    <br>
    <br>
    {% include about.html %}
  </div>
</section>