<section id="about">
  <ul class="goals">
    <h3>The <i>Learn.js</i> series teaches:</h3>
    <li>Javascript syntax, functions, data types, and programming patterns.</li>
    <li>How to find and use Javascript libraries.</li>
    <li>Using javascript & modules from npm for both browser- and server-side code.</li>
    <li>Using developer tools like Git, GitHub, Chrome Dev Tools, Bower, npm, and Grunt.</li>
    <li>How to build a wide range of projects with javascript, from the server to the client, from game development to data analysis.</li>
  </ul>

  <div class="author">
    <h3 class="about-author">About the author:</h3>
    <p>
      <img class="author" src="{{ site.baseurl }}/img/sethvincent.png" />
      Seth Vincent writes code, stories, and music. He's an independent programmer, designer and writer focused on storytelling and javascript. Previously he’s worked as a writing tutor and as an advisor of a student news organization. He's a co-organizer of <a href="http://seattle.io" target="blank">seattle.io</a> and <a href="http://codeforseattle.org" target="blank">Code for Seattle</a> , and owner of <a href="http://superbigtree.com" target="blank">Super Big Tree</a>.</p>
      <p><a href="http://sethvincent.com" target="_blank">sethvincent.com</a></p>
      <p><a href="http://github.com/sethvincent" target="_blank">github.com/sethvincent</a></p>
      <p><a href="http://twitter.com/sethdvincent" target="_blank">twitter.com/sethdvincent</a></p>
  </div>
</section>
