<ul class="goals">
  <h3>Learn.js will introduce you to:</h3>
  <li>Javascript syntax, functions, data types, and programming patterns.</li>
  <li>How to find and use Javascript libraries.</li>
  <li>Using javascript/jquery to manipulate html elements.</li>
  <li>Using javascript for server-side coding.</li>
  <li>Using developer tools like Git, GitHub, Chrome Dev Tools, Bower, npm, and Grunt.</li>
  <li>How to build a wide range of projects with javascript, from the server to the client, from game development to data analysis.</li>
</ul>

<div class="author">
  <h3 class="about-author">About the author:</h3>
  <p>
    <img class="author" src="{{ site.baseurl }}/img/sethvincent.png" />
    Seth Vincent is an independent programmer, writer, and designer. Previously he's worked as a writing tutor and as an advisor of a student news organization, advising on technology, journalism, and leadership. He is a co-organizer of <a href="http://codeforseattle.org/" target="_blank">Code for Seattle</a> and <a href="http://seattlewiki.net/" target="_blank">SeattleWiki</a>, and owner of <a href="http://superbigtree.com" target="_blank">super big tree</a>.</p>
    <p><a href="http://sethvincent.com" target="_blank">sethvincent.com</a></p>
    <p><a href="http://github.com/sethvincent" target="_blank">github.com/sethvincent</a></p>
    <p><a href="http://twitter.com/sethdvincent" target="_blank">twitter.com/sethdvincent</a></p>
</div>