<div class="bio">
  <p><img class="author" src="/img/sethvincent.png"> Seth Vincent writes code, stories, and music. He's an independent programmer, designer and writer focused on storytelling and javascript. Previously he’s worked as a writing tutor and as an advisor of a student news organization. He's a co-organizer of <a href="http://seattle.io" target="blank">seattle.io</a> and <a href="http://codeforseattle.org" target="blank">Code for Seattle</a> , and owner of <a href="http://superbigtree.com" target="blank">Super Big Tree</a>.</p>
  <a href="https://twitter.com/sethdvincent" class="twitter-follow-button" data-show-count="false">Follow @sethdvincent</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<iframe src="http://ghbtns.com/github-btn.html?user=sethvincent&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="140" height="20"></iframe>
  <script data-gittip-username="sethvincent"
        data-gittip-widget="button"
        src="//gttp.co/v1.js"></script>
</div>