<section id="books">
  <div id="available">
    <ul>
      <h2 id="available-books">Available books:</h2>
      {% for book in site.books.available %}
        <li class="book">
          <a href="{{ book.buy }}" class="learn">
            <img src="{{ site.baseurl }}/img/books/{{ book.image }}" />
            <h3>{{ book.title }}</h3>
            <p><a class="button buy" href="{{ book.buy }}">Buy the book</a> <span class="price">${{ book.price }}</span></p>
          </a>
          <p><a href="{{ site.baseurl }}/books/{{ book.slug }}">Learn more.</a></p>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% if site.books.upcoming %}
  <div id="upcoming">
    <ul>
      <h2 id="upcoming-books">Upcoming books:</h2>
      <p>Pre-order upcoming books at a discount.</p>
      {% for book in site.books.upcoming %}
        <li class="book">
          <a href="{{ book.buy }}" class="learn">
            <img src="{{ site.baseurl }}/img/books/{{ book.image }}" />
            <h3>{{ book.title }}</h3>
            <p><a class="button buy" href="{{ book.buy }}">Pre-order</a> <span class="price">${{ book.price }}</span></p>
          </a>
          <p style="width: 200px;"><a href="{% if book.learnmore %}{{ book.learnmore }}{% else %}{{ site.baseurl }}/books/{{ book.slug }}{% endif %}">Early release scheduled for {{ book.release }}. Learn more.</a></p>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</section>