<a href="http://gum.co/bundle01">
  <img src="{{ site.baseurl }}/img/books/four-books.png" id="four-books">
  <h2>Order the first 3 books in the Learn.js series and get <i>Development Environments for Beginners</i> for free.</h2>
</a>
<p style="text-align: center;">
  <a class="button buy" href="http://gum.co/bundle01">Buy the four-book bundle</a> <span class="price">$25</span>
</p>
<p style="text-align: center; font-size:19px;"><i>Learn.js #1: introduction to javascript</i> and <i>Development Environments for Beginners</i> have both had their <b>first release</b> and are still <b>regularly updated</b>. <i>Learn.js #2: making 2d games with node.js and browserify</i> will have an <b>early release on November 4</b>, and <i>Learn.js #3: mapping with leaflet.js</i> will have an <b>early release on November 18</b>.</p>
<p style="text-align: center;font-size:32px;font-weight:100;">Purchase the four-book bundle and you'll get all updates to the four books for free.</p>