<a href="http://gum.co/bundle01">
  <img src="{{ site.baseurl }}/img/books/four-books.png" id="four-books">
  <h2>Order the first 3 books in the Learn.js series and get <i>Development Environments for Beginners</i> for free.</h2>
</a>
<p style="text-align: center;">
  <a class="button buy" href="http://gum.co/bundle01">Buy the four-book bundle</a> <span class="price">$25</span>
</p>
<p style="text-align: center; font-size:19px;"><i>All four books have been released, and still have new chapters released on a regular basis. Subscribe to the new chapter releases by purchasing one book or the bundle, and get all future updates for free.</p>
<p style="text-align: center;font-size:32px;font-weight:100;">Purchase the bundle and you'll get future updates to all four books for free.</p>