<div class="details">
  <p class="just-the-book">
    The book is available as <a href="http://gum.co/learnjs/x3v6ugy1">a pdf/epub/mobi package for $10</a>.
  </p>
  <p class="just-the-book">It is also <a href="https://leanpub.com/learnjs" target="_blank">available on leanpub.com</a>.
  </p>
  
  <div class="release-early">
    <h2>Buy the book early and guide its direction.</h2>
    <p>This book is highly inspired by the <a href="https://leanpub.com/manifesto" target="_blank">lean publishing model</a>. I'm releasing the book early to get feedback from you, dear readers, so that together we can make the best book about javascript tools and libraries possible.</p>

    <p>I'll be releasing updates regularly up until the book is feature complete at v1.0.0. Help me determine what it will mean for the book to be feature complete by filling out a survey asking what development tools, libraries, and programming patterns you'd be most interested in seeing covered. Email me at hi@learnjs.io or visit the book's <a href="https://github.com/learn-js/learnjs/issues" target="_blank">issues queue on GitHub</a></p>
  </div>

  {% include newsletter.html %}

</div>