<section id="details">
  <div class="container">
    <div class="inner-wrapper">
      <div class="release-early">
        <h2>Buy the books early and guide the direction of the series.</h2>
        <p>The <i>Learn.js</i> book series is highly inspired by the <a href="https://leanpub.com/manifesto" target="_blank">lean publishing model</a>. I'm releasing the book early to get feedback from you, dear readers, so that together we can make the best book about javascript tools and libraries possible.</p>

        <p>I'll be releasing updates regularly up until each book is feature complete at v1.0.0. Help me determine what it will mean for a book to be feature complete by filling out a survey asking what development tools, libraries, and programming patterns you'd be most interested in seeing covered. Email me at <a href="mailto:hi@learnjs.io">hi@learnjs.io</a>.</p>
      </div>
    </div>
  </div>
</div>