<section id="book">
  <div class="container">
    <div class="inner-wrapper">
      <h1>You get the basics of javascript, but the development tools and design patterns are what slow you down.</h1>
      <img id="main-cover" src="{{ site.basurl }}/img/learnjs-cover-800x1035.gif">
      <h2>Learn javascript tools & patterns through example projects.</h2>
      <p>The book is currently in-progress, so if you pre-order it now you get all updates for free and can help guide the development of the book by suggesting topics.</p>
      <p>Current page/word count: <b>102 pages</b> / <b>15,943 words</b>.</p>
      <p>Current version: <b>0.4.1</b> (<a href="{{ site.basurl }}/releases/v0.4.1">release notes</a>).</p>
      <p>Last updated: <b>August 5, 2013</b>.</p>
      <p class="price">Price: <b>$10+</b></p>
      <p>(Pay what it's worth to you. Prices change at v1.0.0).</p>
      <div class="button-wrapper">
        <a href="http://gum.co/learnjs/x3v6ugy1" class="button">Buy The Book</a>
      </div>
    </div>
  </div>
</section>