<section id="subscribe">
  <h2><i>Learn.js</i> is like a collection of LEGO guides. <br>The goal: a fun way to learn javascript.</h2>

  <p class="version-description">
    <i>Learn.js</i> is a series of guidebooks for building projects with javascript.
  </p>
  <h3>Subscribe to get notified about new releases:</h3>
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="http://superbigtree.us5.list-manage.com/subscribe/post?u=b5b4f7fda673e887e9380b619&amp;id=3eb1d4ee40" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="mc-field-group inputs">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
    </form>
  </div>
</section>