<section id="subscribe">
  <div class="container">
    {% include promo.html %}
    
    
    <!--
    
    <div style="float:left; margin-right: 30px; width:250px;">
      <img src="{{site.baseurl}}/img/books/learnjs-npm-recipes.jpg" style="width:100%; height:auto;">
    </div>

    <h2>Get our free book <i>npm recipes</i>!</h2>

    <h4 style="margin-bottom: 30px;">Subscribe to the Learn.js newsletter to get the free book:</h4>

    <div id="mc_embed_signup">
      <form action="http://superbigtree.us5.list-manage.com/subscribe/post?u=b5b4f7fda673e887e9380b619&amp;id=3eb1d4ee40" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-group inputs">
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email">
          <input type="submit" value="Subscribe & get npm recipes" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
      </form>
    </div>

    <p><i>npm recipes</i> showcases the awesome 90,000+ modules found on <a href="http://npmjs.org" target="_blank">npm</a>. Each chapter is a grab bag of modules, with usage instructions for each module individually and in coordination with the others.</p>
    
    -->
    
    
  </div>
</section>
