<h1>Get the book early in the process and get extras!</h1>
<p class="center">Prices and plans change when the book reaches v1.0.0.</p>

<div class="plans">
  <section class="book plan">
    <h1>$29</h1>
    <h2>The Book Pack</h2>
    <ul>
      <li>pdf, epub, and mobi versions of <i>Learn.js</i>.</li>
      <li>30 minutes of one-on-one javascript tutoring.</li>
    </ul>

    <a href="http://gum.co/learnjs-book-pack/3v7b5gh6" class="button">Buy The Book Pack</a>

  </section>

  <section class="bonus plan">
    <h1>$89</h1>
    <h2>The Super Bonus Pack</h2>
    <ul>
      <li>pdf, epub, and mobi versions of <i>Learn.js</i>.</li>
      <li>2 hours of one-on-one javascript tutoring.</li>
      <li>Screencasts of the chapters as they are produced.</li>
    </ul>

    <a href="http://gum.co/learnjs-bonus-pack/7h2sm93d" class="button">Buy The Bonus Pack</a>
  </section>
</div>