<div class="sidebar">
  
  <h2><b>Canvassing</b></h2>
  <a href="{{ site.baseurl }}/canvassing">
    <img src="{{ site.baseurl }}/img/canvassing/canvassing-cover-200x259.png" id="four-books">
  </a>
  <h5 class="sidebar-button">
    <a href="{{ site.baseurl }}/canvassing">
      <b>A book & screencasts teaching JavaScript & the html5 canvas tag for games, art, & other creative coding.</b>
    </a>
  </h5>
  
  <hr>
  
  <a href="https://twitter.com/learnjs_io" class="twitter-follow-button" data-show-count="false" data-size="medium">Follow @learnjs_io</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


  <!--
  
  <h2>The Books:</h2>
  <a href="http://gum.co/bundle01">
    <img src="{{ site.baseurl }}/img/books/four-books.png" id="four-books">
  </a>
  <h5 class="sidebar-button">
    <a href="http://gum.co/bundle01">Order the first 4 books in the Learn.js series.</a>
  </h5>
  <h5 class="sidebar-button">
    <a href="{{ site.baseurl }}/newsletter">Subscribe to the newsletter to get updates about Learn.js first.</a>
  
  -->
  
  </h5>
</div>
