<div class="sidebar">
  
  <h2>Join the <br> <b>newsletter</b></h2>
  <h5 class="sidebar-button">
    Get JavaScript tutorials and updates on Learn.js projects
  </h5>
  <a href="{{ site.baseurl }}/newsletter" class="button buy" style="width:100%;margin-top:10px;">Join</a>
  
  <hr>
  
  <h2>New Book: <b>Canvassing</b></h2>
  <a href="{{ site.baseurl }}/canvassing">
    <img src="{{ site.baseurl }}/img/canvassing/canvassing-cover-200x259.png" id="four-books">
  </a>
  <h5 class="sidebar-button">
    <a href="{{ site.baseurl }}/canvassing">
      <b>Get awesome at using the html5 canvas tag for games, art, & other creative coding.</b>
      <br>
      <br>
      Launches Oct. 22
      <br>
      Pre-order at 50% off
    </a>
  </h5>
  
  <hr>
  


  <!--
  
  <h2>The Books:</h2>
  <a href="http://gum.co/bundle01">
    <img src="{{ site.baseurl }}/img/books/four-books.png" id="four-books">
  </a>
  <h5 class="sidebar-button">
    <a href="http://gum.co/bundle01">Order the first 4 books in the Learn.js series.</a>
  </h5>
  <h5 class="sidebar-button">
    <a href="{{ site.baseurl }}/newsletter">Subscribe to the newsletter to get updates about Learn.js first.</a>
  
  -->
  
  </h5>
</div>
