<section id="tutoring">
  <div class="containter">
    <h2 class="tutoring">About javascript tutoring:</h2>
    <p>Leading up to the v1.0.0 release, I'm offering one-on-one javascript tutoring as a bonus for purchasing the book early. This will help you get questions answered about any javascript/html/css project you're working on.</p>
    <p>It will also help me get a sense of what content should be added and revised in the book. I'll craft the remaining chapters based on the conversations in these tutoring sessions.</p>
    <p>The tutoring sessions will be most helpful for folks getting started with javascript. If you're already a javascript developer you might want to get the book on its own via leanpub or gumroad.</p>
    <h3 style="text-align:center; margin-top:40px;">In the Seattle, WA area and want to learn javascript? <a href="{{ site.baseurl }}/workshops">Attend a workshop!</a></h3>
  </div>
</section>