---
layout: blog
title: npm recipes
redirect_to: "http://makerlog.org"
---

<h1 class="post-title">npm recipes</h1>

<div style="float:left; margin-right: 20px; width:150px;">
  <img src="{{site.baseurl}}/img/books/learnjs-npm-recipes.jpg" style="width:100%; height:auto;">
</div>

<h3 style="margin:0px 0px 5px 0px;">Learn JavaScript & Node.js by exploring npm!</h3>

<p><i>npm recipes</i> is a new feature on Learn.js meant to showcase awesome modules found on <a href="http://npmjs.org" target="_blank">npm</a>.</p>

<p>You can read some of the tutorials on learnjs.io, and more will be released only in the book.</p>

<p>There are over 100,000 modules on npm, so there's a wildly big number of opportunities for checking out how various npm modules can work together.</p>

<p>Get the book for free here: <a href="https://gumroad.com/l/npm-recipes">npm recipes</a></p>

<h3>Here are all the npm recipes published on the site so far:</h3>
<br>
<ul class="posts small">
  {% for post in site.posts %}
    {% if post.published and post.npmrecipe %}
      <li class="post" id="{{ post.slug }}">
        <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%-d %B %Y" }}
      </li>
    {% endif %}
  {% endfor %}
</ul>
