---
layout: blog
title: Screencasts
---

<div class="posts">
  {% for post in site.posts %}
    {% if post.published and post.type == 'screencast' %}
      <div class="post" id="{{ post.slug }}">
        <div class="post-date">{{ post.date | date: "%-d %B %Y" }}</div>
        <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="post-excerpt">{{ post.excerpt | strip_html | truncate: 200 }}</div>
        <p><a href="{{ post.url }}">Continue reading</a></p>
      </div>
    {% endif %}
  {% endfor %}

  {% if !site.posts %}
  	<h1>Screencasts are coming soon!</h1>
  	<p>Sign up for our newsletter to be the first to know about the new screencast releases:</p>
    <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://learnjs.us5.list-manage.com/subscribe/post?u=b5b4f7fda673e887e9380b619&amp;id=3eb1d4ee40" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h2></h2>
<div class="mc-field-group">
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email">
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_b5b4f7fda673e887e9380b619_3eb1d4ee40" value=""></div>
</form>
</div>

<!--End mc_embed_signup-->
  {% endif %}
</div>