---
layout: blog
title: Screencasts
---

<div class="posts">
  <h1>Screencasts</h1>
  {% for post in site.posts %}
    {% if post.published and post.type == 'screencast' %}
      <div class="post" id="{{ post.slug }}">
        <div class="post-date">{{ post.date | date: "%-d %B %Y" }}</div>
        <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="post-excerpt">{{ post.excerpt | strip_html | truncate: 200 }}</div>
        <p><a href="{{ post.url }}">Continue reading</a></p>
      </div>
    {% endif %}
  {% endfor %}
</div>