---
layout: default
---

<section id="release">
  <div class="container">
    <h1>v0.4.0 of <i>Learn.js</i> released!</h1>
    <p>July 11, 2013</p>

    <h2><i>Learn.js</i> is a guidebook to building projects with javascript.</h2>
    <p>With this version of the book it surpassed the 50 pages / 10,000 words mark! That's exciting.</p>
    <p>The goal is to get to 200 pages by the end of the month. You can support that goal by buying the book, <a href="https://github.com/learn-js/learnjs/issues?state=open" target="_blank">submitting errata at our issues queue</a>, or sharing the book with your friends.</p>
    <p><b>Here's the changelog for the current release:</b></p>
    <ul style="margin-bottom:30px;">
      <li>Add Introduction to npm</li>
      <li>Add Introduction to callbacks</li>
      <li>Add Introduction to canvas (still working on this)</li>
      <li>Add Introduction to browserify</li>
      <li>Substantial revisions to Chapter 01 - making a game with browserify</li>
      <li>Many small typo / formatting fixes</li>
    </ul>
    <p><b>Support the book by buying it early (and get all updates for free) below:</b></p>
    <br>
    <hr>
    {% include plans.html %}

    {% include details.html %}
    <br>
    <br>
    <br>
    {% include about.html %}
  </div>
</section>